Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "*.test.{js,jsx,ts,tsx}": [
    "npm run test"
  ]
}

chore(release): publish [ci skip]
  packages/analytics-dom/CHANGELOG.md
  packages/analytics-dom/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/processors/CHANGELOG.md
  packages/processors/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
Due: none

fix(bundle, react-connect): add new devtools callback, add variant_id on on item click, remove retry
  packages/bundle/src/initialize.ts
  packages/react-connect/src/immutable/item.ts
  packages/react-connect/src/provider/createProvider.ts
Due: prettier --write

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/processors/CHANGELOG.md
  packages/processors/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
Due: none

feat(bundle): update devtools initialization process
  packages/bundle/src/initialize.ts
  packages/bundle/webpack.config.ts
Due: prettier --write

fix(bundle): fix unnecessary config import
  packages/bundle/src/initialize.ts
Due: prettier --write

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(react-connect): fix provider nesting to overwrite top-lvl agent
  packages/bundle/src/config.ts
  packages/react-components/index.d.ts
  packages/react-connect/src/connect/createConnect.ts
Due: prettier --write

fix(bundle): add redicrect to sc feature
  packages/bundle/src/features/smart-collection/index.ts
Due: prettier --write

fix(bundle): allow to include filters in SC request
  packages/bundle/src/features/smart-collection/index.ts
Due: prettier --write

fix(bundle): update sentry version
  packages/bundle/package.json
  yarn.lock
Due: none

fix(react-components): fix oos sticket styles and value
  packages/react-components/src/components/Cards/Product/Stickers/index.tsx
  packages/react-components/src/components/Cards/Product/Stickers/styles.css
Due: prettier --write

feat(bundle, react-components): update build process of modules and fix issue with function export
  package.json
  packages/bundle/scripts/webpackHashPlugin.js
  packages/bundle/webpack.config.ts
  packages/react-components/package.json
  packages/react-components/src/components/common/Drawer/view.tsx
  packages/react-components/src/components/common/VirtualizedList/index.ts
  packages/react-components/src/components/search/LazyResults/view.tsx
  packages/react-components/src/helpers/withLazy.tsx
  packages/react-components/src/helpers/withMinResultsToShow.tsx
  packages/react-components/src/helpers/withTheme.ts
  packages/react-components/src/layouts/Autocomplete/Sidebar/view.tsx
Due: prettier --write

fix(processors): update critical dep
  packages/processors/package-lock.json
  packages/processors/package.json
  yarn.lock
Due: none

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/processors/CHANGELOG.md
  packages/processors/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(analytics-dom): added ability to add filters type in dom
  packages/analytics-dom/src/bindings/filters.ts
Due: prettier --write

fix(analytics-dom): fixed analytics-dom events test, added ability to add type to the dom filters
  packages/analytics-dom/package.json
  packages/analytics-dom/src/bindings/__tests__/events.test.ts
  packages/analytics-dom/src/bindings/__tests__/filters.test.ts
  packages/analytics-dom/src/bindings/filters.ts
Due: prettier --write, npm run test

chore(release): publish [ci skip]
  packages/analytics-dom/CHANGELOG.md
  packages/analytics-dom/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(react-components): use accounting.js to format currency
  packages/bundle/src/config.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Cards/Product/__snapshots__/test.tsx.snap
  packages/react-components/src/components/Cards/Product/test.tsx
  packages/react-components/src/components/Cards/Product/view.tsx
  packages/react-components/src/components/RangeFacet/content.tsx
  packages/react-components/src/helpers/formatCurrency.ts
Due: prettier --write

fix(bundle): rename currency in config to easy migration for old customers
  packages/bundle/src/initialize.ts
Due: prettier --write

fix(bundle): fallback currency
  packages/bundle/src/initialize.ts
Due: prettier --write

fix(react-connect): added debounce to facet item toggle method
  packages/react-components/index.d.ts
  packages/react-connect/src/immutable/facets.ts
  packages/react-connect/src/utils/debounce.ts
Due: prettier --write

fix(react-connect): removed uncecessary logs
  packages/react-connect/src/immutable/facets.ts
Due: prettier --write

fix(bundle, react-connect): update version of @sentry/browser, decreased debounce for facet item tog
  packages/bundle/package.json
  packages/bundle/src/index.ts
  packages/react-connect/src/immutable/facets.ts
Due: prettier --write

fix(bundle): updated assets url
  packages/bundle/src/index.ts
Due: prettier --write

fix(bundle): fixed release
  packages/bundle/src/index.ts
Due: prettier --write

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
Due: none

fix(bundle): probably fix wrong import issue
  packages/bundle/src/index.ts
  packages/react-components/index.d.ts
  yarn.lock
Due: prettier --write

fix(bundle): fix the uglified version of dependencies import
  packages/bundle/src/index.ts
Due: prettier --write
