Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --bail --findRelatedTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "git add",
  ],
  "*.test.{js,jsx,ts,tsx}": [
    "jest --bail --findRelatedTests"
  ]
}

feat(ui-components): simplify sticky filters implementation
  packages/ui-components/src/internals/Sticky/index.tsx
  packages/ui-components/src/internals/Sticky/styles.css
Due: prettier --write

feat(mjs): open new tab on product click if ctrl or cmd button pressed
  packages/mjs/src/features/autocomplete/index.tsx
  packages/mjs/src/features/recommendations/index.tsx
  packages/mjs/src/features/search/index.tsx
  packages/ui-components/src/widgets/Product/index.tsx
Due: prettier --write

chore(mjs): remove postinstall hook from mjs package.json
  packages/mjs/package.json
Due: none

chore(mjs): remove redundant pre/post hook in mjs package.json
  packages/mjs/package.json
Due: none

chore(mjs): pick commits from old MJS
  packages/mjs/dev/config.js
  packages/mjs/loader/index.js
  packages/mjs/src/helpers/windowEventListener.ts
  packages/mjs/src/states/LocationsState.ts
Due: prettier --write

chore(ui-components): add missing babel plugin to package.json
  package-lock.json
  packages/ui-components/package.json
Due: none

chore(ui-packages): add missing babel plugins to mjs package.json
  packages/ui-components/package.json
Due: none

chore(ui-components): add the rest of missing packages to mjs
  package-lock.json
  packages/ui-components/package.json
Due: none

chore(release): releasing component
  packages/mjs/package.json
Due: none

chore(release): releasing component
  packages/ui-components/package.json
Due: none

docs(*): update changelogs
  packages/analytics/CHANGELOG.md
  packages/corge/CHANGELOG.md
  packages/grault/CHANGELOG.md
  packages/helpers/CHANGELOG.md
  packages/mjs/CHANGELOG.md
  packages/mjs/package.json
  packages/quux/CHANGELOG.md
  packages/quuz/CHANGELOG.md
  packages/qux/CHANGELOG.md
  packages/ui-components/CHANGELOG.md
Due: none

chore(^): update travis ci after_success shell script
  .travis/after_success.sh
Due: none

chore(mjs): releasing component (workaround for compliation server)
  packages/mjs/package.json
Due: none

fix(analytics): remove const keyword from resulting bundle
  packages/analytics/src/env/index.js
Due: prettier --write

chore(release): releasing component
  packages/analytics/package.json
Due: none

chore(mjs): fix mjs build script (pass publicPath correctly)
  .travis/after_success.sh
  package-lock.json
  packages/mjs/package.json
Due: none

chore(mjs): update loader.js to support new paths
  packages/mjs/loader/index.js
Due: prettier --write

fix(*): add dataset polyfill for IE9
  package-lock.json
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/mjs/package.json
  packages/mjs/src/index.ts
Due: prettier --write

fix(ui-components): hotfix react autosizer mensure width
  package-lock.json
  packages/mjs/.gitignore
  packages/mjs/tsconfig.json
  packages/ui-components/src/internals/CheckboxBodyFacet/ListRenderer.tsx
Due: prettier --write

chore(^): remove mjs version prefix workaround
  .travis/after_success.sh
Due: none

chore(^): change manual-release script permissions
  scripts/manual-release.sh
Due: none

chore(^): fix root package-lock.json (snyk version)
  package-lock.json
Due: none

chore(release): manual bump for release of mjs@4.2.1\n\naffects: mjs@4.2.1
  packages/mjs/package.json
  scripts/manual-release.sh
Due: none

chore(release): manual bump for release of mjs@4.2.2\n\naffects: mjs@4.2.2
  packages/mjs/package.json
  scripts/manual-release.sh
Due: none

chore(release): manual bump for release of mjs@4.2.3\n\naffects: mjs@4.2.3
  packages/mjs/package.json
Due: none

chore(^): fix ci after_release script (add trailing slash to PUBLIC_PATH), upd manual-release script
  .travis/after_success.sh
  scripts/manual-release.sh
Due: none

chore(mjs): rename .bin -> /scripts
  packages/mjs/.bin/production.js
  packages/mjs/scripts/cssBuilder.js
  packages/mjs/scripts/development.js
  packages/mjs/scripts/dll.js
  packages/mjs/scripts/index.js
  packages/mjs/scripts/library.js
  packages/mjs/scripts/production.js
  packages/mjs/webpack.config.js
Due: prettier --write

chore(release): manual bump for release of mjs@4.2.4, affects: mjs@4.2.4
  packages/mjs/package.json
Due: none

chore(*): fix tests
  packages/analytics/src/index.ts
  packages/mjs/src/index.ts
Due: prettier --write

docs(^): add code of conduct manifest
  code-of-conduct.md
Due: none

chore(*): remove example pkgs to speed up build on travis ci
  packages/corge/.gitignore
  packages/corge/CHANGELOG.md
  packages/corge/README.md
  packages/corge/bsconfig.json
  packages/corge/package.json
  packages/corge/src/index.re
  packages/corge/tasks.json
  packages/grault/.gitignore
  packages/grault/CHANGELOG.md
  packages/grault/bower.json
  packages/grault/package.json
  packages/grault/src/Grault.purs
  packages/grault/test/Main.purs
  packages/quux/CHANGELOG.md
  packages/quux/package.json
  packages/quux/src/__tests__/index.test.ts
  packages/quux/src/index.ts
  packages/quux/tsconfig.json
  packages/quuz/CHANGELOG.md
  packages/quuz/package.json
  packages/quuz/src/__tests__/index.test.ts
  packages/quuz/src/index.ts
  packages/quuz/tsconfig.json
  packages/qux/CHANGELOG.md
  packages/qux/package.json
  packages/qux/src/__tests__/index.test.ts
  packages/qux/src/index.ts
  packages/qux/tsconfig.json
Due: prettier --write, jest --bail --findRelatedTests

WIP(sdk): add more tests for sdk (nock + jest)
  jest.config.js
  packages/sdk/CONTRIBUTING.md
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/client/Client.ts
  packages/sdk/src/client/__tests__/Client.test.ts
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete.json
  packages/sdk/src/client/__tests__/__snapshots__/Client.test.ts.snap
  packages/sdk/src/client/__tests__/support/index.ts
  packages/sdk/src/client/__tests__/support/sanitizing.ts
  packages/sdk/src/client/index.ts
  packages/sdk/src/request/index.ts
  packages/sdk/src/response/index.ts
  packages/sdk/src/validation/__tests__/index.test.ts
Due: prettier --write, jest --bail --findRelatedTests

WIP(sdk): add more tests for recommendations
  packages/sdk/src/client/__tests__/Client.test.ts
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-empty.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-fir.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-smok.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-tesl.json
  packages/sdk/src/client/__tests__/__fixtures__/search-bla.json
  packages/sdk/src/client/__tests__/__fixtures__/search-dra.json
  packages/sdk/src/client/__tests__/__fixtures__/search-gal.json
  packages/sdk/src/client/__tests__/__fixtures__/search-spa.json
  packages/sdk/src/client/__tests__/__snapshots__/Client.test.ts.snap
  packages/sdk/src/client/__tests__/support/data/users.ts
  packages/sdk/src/client/__tests__/support/index.ts
  packages/sdk/src/request/Recommendations.ts
Due: prettier --write, jest --bail --findRelatedTests

WIP(sdk): add an example test with nock-back
  packages/sdk/CONTRIBUTING.md
  packages/sdk/env.example
  packages/sdk/package.json
  packages/sdk/src/client/__tests__/Client.test.ts
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete.json
  packages/sdk/src/client/__tests__/__tapes__/unnamed-1.json5
  packages/sdk/src/client/__tests__/__tapes__/unnamed-2.json5
  packages/sdk/src/client/__tests__/__tapes__/unnamed-3.json5
Due: prettier --write, jest --bail --findRelatedTests

WIP(sdk): fix tests, add more tests for Client
  packages/sdk/src/api.ts
  packages/sdk/src/client/__tests__/Client.test.ts
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-empty.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-fir.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-smok.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-tesl.json
  packages/sdk/src/client/__tests__/__fixtures__/search.json
  packages/sdk/src/client/__tests__/__snapshots__/Client.test.ts.snap
Due: prettier --write, jest --bail --findRelatedTests

WIP(sdk): add more tests for recommendations request
  packages/sdk/src/client/__tests__/Client.test.ts
Due: prettier --write, jest --bail --findRelatedTests
