Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --bail --findRelatedTests

chore(*): remove package-lock.json from sdk, update root-level package-lock.json
  package-lock.json
  packages/sdk/package-lock.json
Due: none

WIP(ui-components): setup jest test environment
  packages/ui-components/jest.config.js
  packages/ui-components/package.json
  packages/ui-components/src/widgets/Rating/__tests__/index.test.tsx
  packages/ui-components/tsconfig.test.json
Due: prettier --write, jest --bail --findRelatedTests

test(ui-components): add some initial tests for ui-components
  jest.config.js
  jest/__mocks__/fileMock.js
  jest/__mocks__/styleMapper.js
  package-lock.json
  package.json
  packages/ui-components/jest.config.js
  packages/ui-components/jest/setup.js
  packages/ui-components/package.json
  packages/ui-components/src/internals/Banner/__tests__/index.tests.tsx
  packages/ui-components/src/internals/Button/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/Button/__tests__/index.test.tsx
  packages/ui-components/src/internals/Button/index.tsx
  packages/ui-components/src/internals/Button/styles.css
  packages/ui-components/src/internals/Icon/__tests__/index.test.tsx
  packages/ui-components/src/internals/Icon/index.ts
  packages/ui-components/src/internals/Icon/index.tsx
  packages/ui-components/src/internals/Image/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/Image/__tests__/index.test.tsx
  packages/ui-components/src/internals/Image/index.tsx
  packages/ui-components/src/widgets/Rating/__tests__/index.test.tsx
  packages/ui-components/src/widgets/Rating/index.tsx
Due: prettier --write, jest --bail --findRelatedTests

WIP(ui-components): fix typo in Rating component
  packages/ui-components/src/widgets/Rating/index.tsx
Due: prettier --write

chore(^): update root package-lock.json
  package-lock.json
Due: none

chore(helpers): fix build scripts in helpers package
  packages/helpers/package.json
  packages/helpers/tsconfig.json
Due: none

chore(helpers): fix helpers build scripts
  packages/helpers/package.json
  packages/helpers/src/features/autocomplete/constants/actionTypes.ts
  packages/helpers/src/features/autocomplete/types.ts
  packages/helpers/src/features/collection/constants/actionTypes.ts
  packages/helpers/src/features/collection/types.ts
  packages/helpers/src/features/recommendation/constants/actionTypes.ts
  packages/helpers/src/features/recommendation/types.ts
  packages/helpers/src/features/search/constants/actionTypes.ts
  packages/helpers/src/features/search/types.ts
  packages/helpers/tsconfig.json
Due: prettier --write

chore(analytics): turn of tests for now
  packages/analytics/package.json
Due: none

docs(analytics): update README.md for analytics package
  packages/analytics/CONTRIBUTING.md
  packages/analytics/README.md
Due: none

chore(mjs): update React to 1.6.0
  package-lock.json
  package.json
  packages/mjs/dev/templates/index.html
  packages/mjs/package.json
  packages/mjs/scripts/dll.js
  packages/mjs/src/decorators/withPortal.ts
  packages/mjs/src/decorators/withPortal.tsx
  packages/mjs/src/helpers/appendFeature.tsx
  packages/ui-components/package.json
  packages/ui-components/scripts/production.js
  packages/ui-components/src/internals/Icon/index.tsx
Due: prettier --write

docs(*): add npm badge to analytics & sdk packages
  packages/analytics/README.md
  packages/sdk/README.md
Due: none

chore(mjs): also parse .min files on build
  packages/mjs/scripts/index.js
  packages/mjs/scripts/production.js
Due: prettier --write

chore(mjs): add compression plugin to MJS and Analytics
  packages/analytics/package-lock.json
  packages/analytics/package.json
  packages/analytics/webpack.config.js
  packages/mjs/package-lock.json
  packages/mjs/package.json
  packages/mjs/scripts/production.js
Due: prettier --write

chore(*): update test env depenendecies for compat with react 16.x
  package-lock.json
  package.json
  packages/ui-components/jest.config.js
  packages/ui-components/jest/setup.js
  packages/ui-components/jest/shims.js
  packages/ui-components/package.json
  packages/ui-components/src/internals/Image/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/Image/__tests__/index.test.tsx
Due: prettier --write, jest --bail --findRelatedTests

chore(mjs): fix mjs build scripts (build library as well)
  packages/mjs/package.json
Due: none

chore(sdk): fix sdk tests (upgrade to react 16)
  packages/sdk/package.json
  packages/sdk/src/client/__tests__/Client.test.ts
  packages/sdk/src/client/__tests__/__support__/data/users.ts
  packages/sdk/src/client/__tests__/__support__/index.ts
  packages/sdk/src/client/__tests__/__support__/sanitizing.ts
  packages/sdk/tsconfig.json
Due: prettier --write, jest --bail --findRelatedTests

chore(ui-components): fix ui components tests: upgrade to react 16, add enzyme matchers
  jest/setup.js
  packages/ui-components/jest.config.js
  packages/ui-components/jest/setup.js
  packages/ui-components/jest/shims.js
  packages/ui-components/package.json
  packages/ui-components/src/internals/Button/__tests__/index.test.tsx
  packages/ui-components/src/internals/Icon/__tests__/index.test.tsx
  packages/ui-components/src/internals/Image/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/Image/__tests__/index.test.tsx
  packages/ui-components/src/internals/Image/index.tsx
  packages/ui-components/src/widgets/Rating/__tests__/index.test.tsx
Due: prettier --write, jest --bail --findRelatedTests

chore(^): remove bs platform & purescript prerequisites from travis ci script
  .travis.yml
Due: none

chore(^): add slack integration for Travis CI
  .travis.yml
Due: none

chore(sdk): disable sdk tests for now
  packages/sdk/package.json
Due: none

chore(sdk): disable sdk build for now
  packages/sdk/package.json
Due: none

feat(mjs): force bump mjs minor version
  packages/mjs/scripts/production.js
Due: prettier --write

chore(release): releasing component
  packages/mjs/package.json
Due: none

docs(*): update changelogs
  packages/analytics/CHANGELOG.md
  packages/helpers/CHANGELOG.md
  packages/mjs/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/ui-components/CHANGELOG.md
Due: none

fix(ui-components): fix Image component
  packages/ui-components/src/internals/Image/index.tsx
Due: prettier --write

chore(ui-components): disable test for Image component
  .lintstagedrc
  packages/ui-components/src/internals/Image/__tests__/index.test.tsx
Due: prettier --write, jest --bail --findRelatedTests

chore(release): releasing component
  packages/ui-components/package.json
Due: none

docs(*): update changelogs
  packages/ui-components/CHANGELOG.md
Due: none

fix(ui-components): replace matchMedia polyfill for IE9 (fix carousel widget)
  packages/mjs/package.json
  packages/ui-components/package.json
  packages/ui-components/src/widgets/ProductsCarousel/index.tsx
Due: prettier --write

docs(analytics): update analytics docs
  packages/analytics/README.md
  packages/analytics/package.json
Due: none

docs(analytics): fix issue link in README
  packages/analytics/README.md
Due: none

chore(*): update analytics pkg version in mjs, update root package-lock.json
  package-lock.json
  packages/mjs/package.json
Due: none

docs(analytics): update README for analytics package
  packages/analytics/README.md
Due: none

docs(analytics): updated readme
  packages/analytics/README.md
Due: none

test(ui-components): add more tests for leaf components
  jest.config.js
  jest/__mocks__/fileMock.js
  jest/__mocks__/styleMapper.js
  packages/ui-components/src/internals/Button/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/Button/index.tsx
  packages/ui-components/src/internals/ExpandButton/__tests__/__snapshots__/index.ts.tsx.snap
  packages/ui-components/src/internals/ExpandButton/__tests__/index.ts.tsx
  packages/ui-components/src/internals/ExpandButton/index.tsx
  packages/ui-components/src/internals/GenericFacet/Raw.tsx
  packages/ui-components/src/internals/GenericFacet/__tests__/Raw.test.tsx
  packages/ui-components/src/internals/GenericFacet/__tests__/__snapshots__/Raw.test.tsx.snap
  packages/ui-components/src/internals/GenericFacet/index.tsx
  packages/ui-components/src/internals/Icon/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/Icon/__tests__/index.test.tsx
  packages/ui-components/src/internals/Icon/index.tsx
  packages/ui-components/src/internals/Image/__tests__/index.test.tsx
  packages/ui-components/src/internals/Link/index.ts
  packages/ui-components/src/internals/PoweredBy/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/PoweredBy/__tests__/index.test.tsx
  packages/ui-components/src/internals/PoweredBy/index.tsx
  packages/ui-components/src/internals/ProductMatches/index.tsx
  packages/ui-components/src/internals/SearchInput/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/SearchInput/__tests__/index.test.tsx
  packages/ui-components/src/internals/SearchInput/index.tsx
  packages/ui-components/src/widgets/Grid/Column.tsx
  packages/ui-components/src/widgets/Grid/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/widgets/Grid/__tests__/index.test.tsx
  packages/ui-components/src/widgets/Grid/index.tsx
Due: prettier --write, jest --bail --findRelatedTests

fix(ui-components): add a quick fix for facet list rendering performance
  packages/ui-components/package.json
  packages/ui-components/src/internals/DesktopFacetsList/index.tsx
Due: prettier --write

fix(mjs): fix duplicate results in mjs infinite scroll
  packages/mjs/dev/config.js
  packages/mjs/package.json
  packages/mjs/src/features/search/provider/InstanceMemo.ts
  packages/mjs/src/features/search/provider/index.ts
Due: prettier --write

fix(mjs): fix GA page view tracking
  packages/mjs/src/states/LocationsState.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  jest --bail --findRelatedTests: any of: *.test.{js,jsx,ts,tsx}
