Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --bail --findRelatedTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "git add",
  ],
  "*.test.{js,jsx,ts,tsx}": [
    "jest --bail --findRelatedTests"
  ]
}

WIP(*): add example packages
  jest.config.js
  package-lock.json
  package.json
  packages/.npmignore
  packages/corge/.gitignore
  packages/corge/README.md
  packages/corge/bsconfig.json
  packages/corge/package-lock.json
  packages/corge/package.json
  packages/corge/src/index.re
  packages/corge/tasks.json
  packages/grault/.gitignore
  packages/grault/bower.json
  packages/grault/package.json
  packages/grault/src/Grault.purs
  packages/grault/test/Main.purs
  packages/quux/package.json
  packages/quux/src/__tests__/index.test.ts
  packages/quux/src/index.ts
  packages/quux/tsconfig.json
  packages/quuz/package.json
  packages/quuz/src/__tests__/index.test.ts
  packages/quuz/src/index.ts
  packages/quuz/tsconfig.json
  packages/qux/package.json
  packages/qux/src/__tests__/index.test.ts
  packages/qux/src/index.ts
  packages/qux/tsconfig.json
Due: prettier --write, jest --bail --findRelatedTests

chore(^): update .gitignore
  .gitignore
Due: none

WIP(sdk): add sdk package skeleton
  packages/sdk/package.json
  packages/sdk/src/__tests__/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.json
Due: prettier --write, jest --bail --findRelatedTests

WIP(^): add travis CI config, update README.md
  .travis.yml
  README.md
Due: none

docs(sdk): write a better README for sdk, update CONTRIBUTING
  packages/sdk/CONTRIBUTING.md
  packages/sdk/README.md
Due: none

docs(sdk): fix links in README
  packages/sdk/README.md
Due: none

WIP(^): add doc and coverage to .gitignore
  .gitignore
Due: none

chore(^): update prettier config
  .prettierrc
Due: none

chore(^): update package.json, tsconfig for test env, jest config, Makefile
  Makefile
  jest.config.js
  package-lock.json
  package.json
  tsconfig.test.json
Due: prettier --write

docs(^): update README.md
  README.md
Due: none

WIP(sdk): add current javascript-sdk package as is
  packages/javascript-sdk/.babelrc
  packages/javascript-sdk/.gitignore
  packages/javascript-sdk/CONTRIBUTING.md
  packages/javascript-sdk/LICENSE
  packages/javascript-sdk/README.md
  packages/javascript-sdk/__tests__/index.spec.ts
  packages/javascript-sdk/__tests__/jsdom-helper.ts
  packages/javascript-sdk/__tests__/modules/requestApi.spec.ts
  packages/javascript-sdk/__tests__/utils/countBytesInString.spec.ts
  packages/javascript-sdk/__tests__/utils/joinParams.spec.ts
  packages/javascript-sdk/__tests__/utils/resolveUrl.spec.ts
  packages/javascript-sdk/__tests__/validations.spec.ts
  packages/javascript-sdk/index.d.ts
  packages/javascript-sdk/modules.d.ts
  packages/javascript-sdk/package-lock.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/env/index.js
  packages/javascript-sdk/src/env/production.js
  packages/javascript-sdk/src/env/staging.js
  packages/javascript-sdk/src/index.ts
  packages/javascript-sdk/src/modules/requestApi.ts
  packages/javascript-sdk/src/types.ts
  packages/javascript-sdk/src/utils/countBytesInString.ts
  packages/javascript-sdk/src/utils/everyKey.ts
  packages/javascript-sdk/src/utils/joinParams.ts
  packages/javascript-sdk/src/utils/resolveUrl.ts
  packages/javascript-sdk/src/validations.ts
  packages/javascript-sdk/tsconfig.json
  packages/javascript-sdk/tslint.json
  packages/javascript-sdk/webpack.config.js
  packages/javascript-sdk/yarn.lock
Due: prettier --write

WIP(analytics-js): move analytics-js package into monorepo
  packages/analytics-js/.gitignore
  packages/analytics-js/.npmignore
  packages/analytics-js/CONTRIBUTING.md
  packages/analytics-js/LICENSE
  packages/analytics-js/README.md
  packages/analytics-js/__tests__/index.spec.ts
  packages/analytics-js/__tests__/jsdom-helper.ts
  packages/analytics-js/__tests__/modules/requestApi.spec.ts
  packages/analytics-js/__tests__/modules/storage.spec.ts
  packages/analytics-js/__tests__/validations.spec.ts
  packages/analytics-js/index.d.ts
  packages/analytics-js/modules.d.ts
  packages/analytics-js/package-lock.json
  packages/analytics-js/package.json
  packages/analytics-js/src/env/index.js
  packages/analytics-js/src/env/production.js
  packages/analytics-js/src/env/staging.js
  packages/analytics-js/src/helpers/eventsHelpers.ts
  packages/analytics-js/src/helpers/filtersHelpers.ts
  packages/analytics-js/src/index.ts
  packages/analytics-js/src/modules/request.ts
  packages/analytics-js/src/modules/storage.ts
  packages/analytics-js/src/types.ts
  packages/analytics-js/src/validations.ts
  packages/analytics-js/tsconfig.json
  packages/analytics-js/tslint.json
  packages/analytics-js/webpack.config.js
  packages/analytics-js/yarn.lock
Due: prettier --write

chore(*): disable tsc check before building javascript-sdk, remove trailing comma
  packages/javascript-sdk/package.json
Due: none

WIP(^): update package-lock.json
  package-lock.json
Due: none

chore(analytics): bump analytics to 2.0.14
  packages/analytics/package.json
Due: none

WIP(sdk): rename javascript-sdk to just sdk, set npm package name to @findify/sdk
  packages/javascript-sdk/CONTRIBUTING.md
  packages/javascript-sdk/README.md
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/index.ts
  packages/javascript-sdk/tsconfig.json
  packages/sdk/.babelrc
  packages/sdk/.gitignore
  packages/sdk/LICENSE
  packages/sdk/README.md
  packages/sdk/__tests__/index.spec.ts
  packages/sdk/__tests__/jsdom-helper.ts
  packages/sdk/__tests__/modules/requestApi.spec.ts
  packages/sdk/__tests__/utils/countBytesInString.spec.ts
  packages/sdk/__tests__/utils/joinParams.spec.ts
  packages/sdk/__tests__/utils/resolveUrl.spec.ts
  packages/sdk/__tests__/validations.spec.ts
  packages/sdk/index.d.ts
  packages/sdk/modules.d.ts
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/__tests__/index.test.ts
  packages/sdk/src/env/index.js
  packages/sdk/src/env/production.js
  packages/sdk/src/env/staging.js
  packages/sdk/src/index.ts
  packages/sdk/src/modules/requestApi.ts
  packages/sdk/src/types.ts
  packages/sdk/src/utils/countBytesInString.ts
  packages/sdk/src/utils/everyKey.ts
  packages/sdk/src/utils/joinParams.ts
  packages/sdk/src/utils/resolveUrl.ts
  packages/sdk/src/validations.ts
  packages/sdk/tsconfig.json
  packages/sdk/tslint.json
  packages/sdk/webpack.config.js
  packages/sdk/yarn.lock
Due: prettier --write, jest --bail --findRelatedTests

WIP(analytics): rename findify-analytics to @findify/analyics, bump major version to 3.0
  packages/analytics/package.json
Due: none

WIP(helpers): rename findify-helpers to @findify/helpers, bump major version to 1.0
  packages/helpers/package.json
Due: none

WIP(mjs): bump mjs major version to 4.0
  packages/mjs/package.json
Due: none

WIP(ui-components): rename findify-ui-components to @findify/ui-components, bump major v to 1.0
  packages/ui-components/package.json
Due: none

docs(analytics): fix package.json
  packages/analytics/package.json
Due: none

chore(^): update travis ci config
  .travis.yml
Due: none

WIP(sdk): rename findify-sdk to @findify/sdk everywhere, bump to 1.3.11
  packages/sdk/README.md
  packages/sdk/index.d.ts
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: prettier --write

docs(sdk): update README.md
  packages/sdk/README.md
Due: none

WIP(ui-components): rename findify-ui-components to @findify/ui-components, bump to 1.0.0
  packages/ui-components/README.md
  packages/ui-components/index.d.ts
  packages/ui-components/package-lock.json
  packages/ui-components/package.json
Due: prettier --write

WIP(sdk): fix sdk build, scripts, bump to 1.3.12
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: none

WIP(helpers): rename findify-helpers to @findify/helpers, bump version to 1.0.0
  packages/helpers/README.md
  packages/helpers/index.d.ts
  packages/helpers/package-lock.json
  packages/helpers/package.json
  packages/helpers/src/features/autocomplete/actions/index.ts
  packages/helpers/src/features/autocomplete/reducers/index.ts
  packages/helpers/src/features/autocomplete/types.ts
  packages/helpers/src/features/collection/actions/index.ts
  packages/helpers/src/features/collection/reducers/index.ts
  packages/helpers/src/features/collection/types.ts
  packages/helpers/src/features/recommendation/actions/index.ts
  packages/helpers/src/features/recommendation/index.ts
  packages/helpers/src/features/recommendation/reducers/index.ts
  packages/helpers/src/features/recommendation/types.ts
  packages/helpers/src/features/recommendation/validations.ts
  packages/helpers/src/features/search/actions/index.ts
  packages/helpers/src/features/search/reducers/index.ts
  packages/helpers/src/features/search/types.ts
  packages/helpers/src/generic/helpers/createStore.ts
  packages/helpers/src/generic/types.ts
  packages/helpers/yarn.lock
Due: prettier --write

WIP(helpers): bump helpers version to 1.0.1
  packages/helpers/package-lock.json
  packages/helpers/package.json
Due: none

WIP(mjs): bump mjs to 4.0.0, update pkg names
  packages/mjs/dev/components.tsx
  packages/mjs/package-lock.json
  packages/mjs/package.json
  packages/mjs/src/decorators/connectProvider.ts
  packages/mjs/src/decorators/loadUIComponents.ts
  packages/mjs/src/features/autocomplete/provider.ts
  packages/mjs/src/features/recommendations/provider.ts
  packages/mjs/src/features/search/noResultsProvider.ts
  packages/mjs/src/features/search/provider/index.ts
  packages/mjs/src/index.ts
Due: prettier --write

WIP(analytics): use new scoped package names everywhere
  packages/analytics/README.md
  packages/analytics/index.d.ts
  packages/analytics/package-lock.json
Due: prettier --write

docs(^): update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
