Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test

fix(bundle): disable seroresults by config
  packages/bundle/src/features/search/index.ts
  packages/react-components/index.d.ts
Due: prettier --write

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(react-components): fix price range btn alignment
  packages/react-components/index.d.ts
  packages/react-components/src/components/RangeFacet/styles.css
Due: prettier --write

fix(react-components): switch to use Icon component
  packages/react-components/src/layouts/Recommendation/Slider/view.tsx
Due: prettier --write

fix(bundle): optimize build
  babel.config.js
  package.json
  packages/agent/package.json
  packages/analytics/package.json
  packages/bundle/.babelrc
  packages/bundle/package.json
  packages/bundle/src/core/render.ts
  packages/bundle/src/index.ts
  packages/bundle/src/polyfill.ts
  packages/bundle/webpack.config.ts
  packages/processors/package.json
  packages/sdk/package.json
  yarn.lock
Due: prettier --write

chore(release): publish [ci skip]
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/analytics-dom/CHANGELOG.md
  packages/analytics-dom/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/processors/CHANGELOG.md
  packages/processors/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

fix(bundle): return node_modules compilations
  packages/bundle/src/index.ts
  packages/bundle/webpack.config.ts
Due: prettier --write

fix(bundle): fix issue with node_modules compilation
  babel.config.js
  packages/bundle/webpack.config.ts
Due: prettier --write

fix(bundle): initially load polyfill if required
  packages/bundle/.npmignore
  packages/bundle/package.json
  packages/bundle/src/index.ts
  packages/bundle/webpack.config.ts
Due: prettier --write

fix(bundle): fix SPA rendering
  packages/bundle/src/config.ts
  packages/bundle/src/core/render.ts
  packages/bundle/src/core/widgets.ts
  packages/bundle/src/features/create.ts
Due: prettier --write

feat(bundle): disable zero results by flag
  packages/bundle/src/features/search/index.ts
Due: prettier --write

chore(*): deploy versions to s3
  .travis/after_success.sh
  .travis/before_install.sh
Due: none

chore(*): update travis-allowed branches
  .travis.yml
Due: none

chore(*): drop tests
  package.json
Due: none

chore(*): change deployment url
  .travis/after_success.sh
  packages/bundle/webpack.config.ts
Due: prettier --write

fix(bundle): split react and react-dom
  babel.config.js
  packages/agent/tsconfig.lib.json
  packages/analytics-dom/tsconfig.lib.json
  packages/analytics/tsconfig.lib.json
  packages/bundle/index.html
  packages/bundle/package.json
  packages/bundle/src/core/render.ts
  packages/bundle/src/features/autocomplete/index.ts
  packages/bundle/src/features/autocomplete/preload.ts
  packages/bundle/src/features/content/index.ts
  packages/bundle/src/features/create.ts
  packages/bundle/src/features/custom/index.ts
  packages/bundle/src/features/custom/preload.ts
  packages/bundle/src/features/recommendation/index.ts
  packages/bundle/src/features/recommendation/preload.ts
  packages/bundle/src/features/search/index.ts
  packages/bundle/src/features/search/preload.ts
  packages/bundle/src/features/smart-collection/index.ts
  packages/bundle/src/features/smart-collection/preload.ts
  packages/bundle/src/features/tabs/index.ts
  packages/bundle/src/features/tabs/preload.ts
  packages/bundle/src/helpers/createWidgetCreator.ts
  packages/bundle/src/helpers/renderWidgets.ts
  packages/bundle/src/index.ts
  packages/bundle/src/initialize.ts
  packages/bundle/webpack.config.ts
  packages/react-connect/tsconfig.lib.json
  packages/sdk/tsconfig.lib.json
Due: prettier --write

fix(react-components): add ability to split and load modules; Load not necessary UI libs dynamically
  packages/react-components/index.d.ts
  packages/react-components/package.json
  packages/react-components/src/components/CheckboxFacet/view.tsx
  packages/react-components/src/components/ItemsList/index.tsx
  packages/react-components/src/components/autocomplete/ProductMatches/index.tsx
  packages/react-components/src/components/autocomplete/ProductMatches/view.tsx
  packages/react-components/src/components/search/StaticResults/index.ts
  packages/react-components/src/components/search/StaticResults/view.tsx
  packages/react-components/src/helpers/bundle.tsx
  packages/react-components/src/helpers/chunks.ts
  packages/react-components/src/helpers/deprecated.ts
  packages/react-components/src/helpers/withColumns.ts
  packages/react-components/src/layouts/Autocomplete/Dropdown/index.ts
  packages/react-components/src/layouts/Autocomplete/Dropdown/view.tsx
  packages/react-components/src/layouts/Autocomplete/index.tsx
  packages/react-components/src/layouts/Autocomplete/withAutocompleteLogic.ts
  packages/react-components/src/layouts/Recommendation/Grid/view.tsx
  packages/react-components/src/layouts/Recommendation/index.ts
  packages/react-components/src/layouts/ZeroResults/view.tsx
  yarn.lock
Due: prettier --write

fix(bundle, react-components): better grid
  babel.config.js
  packages/bundle/index.html
  packages/bundle/webpack.config.ts
  packages/react-components/src/components/Breadcrumbs/index.ts
  packages/react-components/src/components/Breadcrumbs/styles.css
  packages/react-components/src/components/Breadcrumbs/view.tsx
  packages/react-components/src/components/Cards/Product/styles.css
  packages/react-components/src/components/common/Grid/Column.tsx
  packages/react-components/src/components/common/Grid/index.tsx
  packages/react-components/src/components/common/Grid/styles.css
  packages/react-components/src/components/search/DesktopActions/styles.css
  packages/react-components/src/components/search/DesktopActions/view.tsx
  packages/react-components/src/components/search/DesktopFacets/styles.css
  packages/react-components/src/components/search/DesktopFacets/view.tsx
  packages/react-components/src/components/search/StaticResults/view.tsx
  packages/react-components/src/helpers/chunks.ts
  packages/react-components/src/helpers/useColumns.ts
  packages/react-components/src/helpers/useMedia.ts
  packages/react-components/src/helpers/withDrawer.ts
  packages/react-components/src/helpers/withMobile.ts
  packages/react-components/src/layouts/Autocomplete/Dropdown/index.ts
  packages/react-components/src/layouts/Autocomplete/Dropdown/trackPosition.ts
  packages/react-components/src/layouts/Autocomplete/Dropdown/view.tsx
  packages/react-components/src/layouts/Autocomplete/index.tsx
  packages/react-components/src/layouts/Autocomplete/withAutocompleteLogic.ts
  packages/react-components/src/layouts/Search/styles.css
  packages/react-components/src/layouts/Search/view.tsx
  packages/react-components/src/types/index.ts
Due: prettier --write

fix(react-components, bundle): fix issue with default offset in searh, improve color facets
  packages/bundle/src/config.ts
  packages/bundle/src/features/content/index.ts
  packages/bundle/src/features/content/preload.ts
  packages/bundle/src/features/search/preload.ts
  packages/bundle/src/features/smart-collection/preload.ts
  packages/react-components/src/components/Breadcrumbs/styles.css
  packages/react-components/src/components/Cards/Product/styles.css
  packages/react-components/src/components/ColorFacet/Item.tsx
  packages/react-components/src/components/ColorFacet/content.tsx
  packages/react-components/src/components/ColorFacet/styles.css
  packages/react-components/src/components/common/Drawer/index.ts
  packages/react-components/src/components/common/Grid/styles.css
  packages/react-components/src/components/search/MobileActions/index.ts
  packages/react-components/src/helpers/useMedia.ts
  packages/react-components/src/helpers/withMobile.ts
  packages/react-components/src/layouts/Search/index.tsx
  packages/react-components/src/layouts/Search/view.tsx
  packages/react-components/src/layouts/ZeroResults/index.ts
Due: prettier --write

chore(*): update travis build
  .travis/before_install.sh
  packages/bundle/webpack.config.ts
Due: prettier --write

chore(*): update build
  .travis.yml
  .travis/before_install.sh
  .travis/install.sh
  packages/bundle/index.html
  packages/bundle/src/config.ts
  packages/bundle/webpack.config.ts
  packages/react-components/src/layouts/Recommendation/Slider/Swiper.tsx
  packages/react-components/src/layouts/Recommendation/Slider/styles.css
Due: prettier --write

chore: make install.sh executable
  .travis/install.sh
Due: none

chore: fix missing dep
  .travis/install.sh
  package.json
Due: none

chore: fix install.sh access
  .travis/install.sh
Due: none

chore: revert build process
  .travis.yml
  .travis/install.sh
  package.json
Due: none

fix(react-components): update swiper and add custom navigtion
  packages/react-components/index.d.ts
  packages/react-components/package.json
  packages/react-components/src/layouts/Recommendation/Slider/Swiper.tsx
  packages/react-components/src/layouts/Recommendation/Slider/styles.css
  packages/react-components/src/layouts/Recommendation/Slider/styles.global.css
  packages/react-components/src/layouts/Recommendation/Slider/view.tsx
  yarn.lock
Due: prettier --write

fix(react-components): update grid
  packages/react-components/src/components/common/Grid/Column.tsx
  packages/react-components/src/components/common/Grid/index.tsx
  packages/react-components/src/components/common/Grid/styles.css
Due: prettier --write

fix(react-components): remove list from grid
  packages/react-components/src/components/common/Grid/Column.tsx
  packages/react-components/src/components/common/Grid/index.tsx
  packages/react-components/src/layouts/Autocomplete/Dropdown/view.tsx
Due: prettier --write

fix(react-components): update grid to support IE10/IE11
  packages/bundle/src/features/content/preload.ts
  packages/react-components/index.d.ts
  packages/react-components/src/components/autocomplete/ProductMatches/view.tsx
  packages/react-components/src/components/autocomplete/SearchSuggestions/view.tsx
  packages/react-components/src/components/autocomplete/SuggestionItem/view.tsx
  packages/react-components/src/components/common/Grid/Column.tsx
  packages/react-components/src/components/common/Grid/index.tsx
  packages/react-components/src/components/common/Grid/styles.css
  packages/react-components/src/components/search/DesktopFacets/styles.css
  packages/react-components/src/components/search/LazyResults/view.tsx
  packages/react-components/src/components/search/StaticResults/view.tsx
  packages/react-components/src/layouts/Autocomplete/Dropdown/styles.css
  packages/react-components/src/layouts/Autocomplete/Dropdown/view.tsx
  packages/react-components/src/layouts/Recommendation/Slider/index.ts
Due: prettier --write

fix(react-components): add horizontal filters option
  packages/react-components/index.d.ts
  packages/react-components/src/components/RangeFacet/index.ts
  packages/react-components/src/components/RangeFacet/styles.css
  packages/react-components/src/components/RangeFacet/view.tsx
  packages/react-components/src/components/RatingFacet/styles.css
  packages/react-components/src/components/common/Grid/Column.tsx
  packages/react-components/src/components/common/Grid/index.tsx
  packages/react-components/src/components/common/Grid/styles.css
  packages/react-components/src/components/common/Sticky/styles.css
  packages/react-components/src/components/search/DesktopFacets/styles.css
  packages/react-components/src/components/search/DesktopFacets/view.tsx
  packages/react-components/src/components/search/MobileFacets/styles.css
  packages/react-components/src/layouts/Search/view.tsx
Due: prettier --write

fix(react-components): minor updates
  packages/bundle/webpack.config.ts
  packages/react-components/src/components/Cards/Product/styles.css
  packages/react-components/src/components/CategoryFacet/Item.tsx
  packages/react-components/src/components/CategoryFacet/styles.css
  packages/react-components/src/components/CategoryFacet/view.tsx
  packages/react-components/src/components/CheckboxFacet/Item.tsx
  packages/react-components/src/components/CheckboxFacet/styles.css
  packages/react-components/src/components/CheckboxFacet/view.tsx
  packages/react-components/src/components/ColorFacet/Item.tsx
  packages/react-components/src/components/ColorFacet/view.tsx
  packages/react-components/src/components/Facet/styles.css
  packages/react-components/src/components/Facet/view.tsx
  packages/react-components/src/components/RangeFacet/Item.tsx
  packages/react-components/src/components/RangeFacet/styles.css
  packages/react-components/src/components/RangeFacet/view.tsx
  packages/react-components/src/components/RatingFacet/Item.tsx
  packages/react-components/src/components/RatingFacet/view.tsx
  packages/react-components/src/components/autocomplete/SearchSuggestions/styles.css
  packages/react-components/src/components/autocomplete/SearchSuggestions/view.tsx
  packages/react-components/src/components/common/Announcement/index.tsx
  packages/react-components/src/components/common/Announcement/styles.css
  packages/react-components/src/components/search/DesktopActions/styles.css
  packages/react-components/src/components/search/DesktopActions/view.tsx
  packages/react-components/src/components/search/DesktopFacets/Title.tsx
  packages/react-components/src/components/search/DesktopFacets/styles.css
  packages/react-components/src/components/search/DesktopFacets/view.tsx
  packages/react-components/src/components/search/StaticResults/view.tsx
  packages/react-components/src/layouts/Search/styles.css
  packages/react-components/src/layouts/Search/view.tsx
Due: prettier --write

fix: Fix failing tests after TS migration
  packages/analytics-dom/src/bindings/__tests__/dom.test.ts
  packages/analytics-dom/tsconfig.base.json
Due: prettier --write, npm run test

fix: Use internal static key property instead of constant
  packages/react-connect/src/immutable/createRecord.ts
Due: prettier --write

change: Uncomment tests
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  npm run test: any of: *.test.{js,jsx,ts,tsx}
