Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "*.test.{js,jsx,ts,tsx}": [
    "npm run test"
  ]
}

feat(ui-components): use facets dynamic width
  .lintstagedrc
  packages/ui-components/src/helpers/columnsSize.ts
  packages/ui-components/src/internals/CategoryBodyFacet/styles.css
  packages/ui-components/src/internals/CheckboxBodyFacet/Checkbox/styles.css
  packages/ui-components/src/internals/CheckboxBodyFacet/Rating/styles.css
  packages/ui-components/src/internals/CheckboxBodyFacet/styles.css
  packages/ui-components/src/internals/ColorBodyFacet/index.tsx
  packages/ui-components/src/internals/ColorBodyFacet/styles.css
  packages/ui-components/src/internals/RangeBodyFacet/styles.css
  packages/ui-components/src/layouts/FacetsLayout/index.tsx
  packages/ui-components/src/layouts/ResultsLayout/index.tsx
  packages/ui-components/src/layouts/ResultsLayout/styles.css
  packages/ui-components/src/lists/ProductsList/index.tsx
Due: prettier --write

chore(release): releasing component
  packages/mjs/package.json
Due: none

docs(*): update changelogs
  packages/analytics/CHANGELOG.md
  packages/helpers/CHANGELOG.md
  packages/mjs/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/ui-components/CHANGELOG.md
Due: none

fix(mjs): use item_ids correctly in mjs
  packages/mjs/src/features/recommendations/provider.ts
Due: prettier --write

fix(ui-components): fix width of star rating and nested category facets
  packages/mjs/dev/config.js
  packages/ui-components/src/internals/CategoryBodyFacet/index.tsx
  packages/ui-components/src/internals/CheckboxBodyFacet/Rating/styles.css
  packages/ui-components/src/internals/CheckboxBodyFacet/index.tsx
  packages/ui-components/src/internals/ColorBodyFacet/index.tsx
Due: prettier --write

fix(mjs): fix sorting when infinite scroll is enabled
  packages/mjs/src/features/search/provider/InstanceMemo.ts
  packages/mjs/src/features/search/provider/index.ts
Due: prettier --write

chore(release): releasing component
  packages/ui-components/package.json
Due: none

Revert "chore(release): releasing component"
  packages/mjs/package.json
Due: none

Revert "chore(release): releasing component" [skip ci]
  packages/ui-components/package.json
Due: none

feat(ui-components): hide not mapped color balls and compare lower case color names with config
  packages/mjs/dev/config.js
  packages/ui-components/src/internals/ColorBodyFacet/index.tsx
Due: prettier --write

docs(*): update mjs & ui-components READMEs
  packages/mjs/README.md
  packages/ui-components/README.md
Due: none

Revert "Revert "chore(release): releasing component""
  packages/ui-components/package.json
Due: none

Revert "Revert "chore(release): releasing component""
  packages/mjs/package.json
Due: none

feat(mjs): adjust autocomplete position tvia config
  packages/mjs/src/features/autocomplete/stylesMapper.ts
Due: prettier --write

test(sdk): add more tests (recommendations), fixtures, re-organize fixtures
  packages/sdk/src/client/Client.ts
  packages/sdk/src/client/__tests__/Client.test.ts
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete/empty.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete/fir.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete/smok.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete/tesl.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/newest-0.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/newest-1.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/newest-2.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/recently-viewed-0.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/recently-viewed-1.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/trending-0.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/trending-1.json
  packages/sdk/src/client/__tests__/__fixtures__/recommendations/trending-2.json
  packages/sdk/src/client/__tests__/__fixtures__/search/bla.json
  packages/sdk/src/client/__tests__/__fixtures__/search/dra.json
  packages/sdk/src/client/__tests__/__fixtures__/search/gal.json
  packages/sdk/src/client/__tests__/__fixtures__/search/spa.json
  packages/sdk/src/client/__tests__/__fixtures__/smart-collection/collections/sdk-test-1-0.json
  packages/sdk/src/client/__tests__/__fixtures__/smart-collection/collections/sdk-test-1-1.json
  packages/sdk/src/client/__tests__/__fixtures__/smart-collection/collections/sdk-test-1-2.json
  packages/sdk/src/client/__tests__/__fixtures__/smart-collection/collections/sdk-test-1-3.json
  packages/sdk/src/client/__tests__/__fixtures__/smart-collection/collections/sdk-test-1-4.json
  packages/sdk/src/client/__tests__/__snapshots__/Client.test.ts.snap
Due: prettier --write, npm run test

docs(sdk): update CONTRIBUTING.md
  packages/sdk/CONTRIBUTING.md
Due: none

docs(sdk): add httpie request templates for manual testing & search API checking
  packages/sdk/httpie/README.md
  packages/sdk/httpie/feedback/view-page-1.json
  packages/sdk/httpie/feedback/view-page-2.json
  packages/sdk/httpie/recommendations/newest-1.json
  packages/sdk/httpie/recommendations/recently-viewed-1.json
  packages/sdk/httpie/recommendations/recently-viewed-2.json
  packages/sdk/httpie/recommendations/recently-viewed-3.json
  packages/sdk/httpie/recommendations/trending-1.json
  packages/sdk/httpie/requests.sh
  packages/sdk/httpie/smart-collections/1.json
Due: none

chore(sdk): add missing ts-jest to sdk package.json
  packages/sdk/package.json
Due: none

WIP(sdk): add more tests, fixtures, webpack build config for sdk
  jest.config.js
  package-lock.json
  package.json
  packages/analytics/package.json
  packages/mjs/package.json
  packages/sdk/.gitignore
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/client/Client.ts
  packages/sdk/src/client/__tests__/Client.test.ts
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-empty.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-fir.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-smok.json
  packages/sdk/src/client/__tests__/__fixtures__/autocomplete-tesl.json
  packages/sdk/src/client/__tests__/__fixtures__/search-bla.json
  packages/sdk/src/client/__tests__/__fixtures__/search-dra.json
  packages/sdk/src/client/__tests__/__fixtures__/search-gal.json
  packages/sdk/src/client/__tests__/__fixtures__/search-spa.json
  packages/sdk/src/client/__tests__/__support__/sanitizing.ts
  packages/sdk/src/validation/common.ts
  packages/sdk/tsconfig.base.json
  packages/sdk/tsconfig.lib.json
  packages/sdk/tsconfig.test.json
  packages/sdk/tslint.json
  packages/sdk/webpack.config.js
  packages/sdk/webpack.config.ts
  packages/ui-components/package.json
Due: prettier --write, npm run test

WIP(sdk): fix webpack build
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/webpack.config.ts
Due: prettier --write

WIP(sdk): update package-lock's [skip ci]
  package-lock.json
  packages/analytics/package-lock.json
  packages/mjs/package-lock.json
Due: none

docs(*): update changelogs
  packages/mjs/CHANGELOG.md
  packages/ui-components/CHANGELOG.md
Due: none

chore(sdk): disable sdk tests (not ready to run on CI yet)
  packages/sdk/package.json
Due: none

fix(mjs): set minimal width for facets
  packages/ui-components/src/layouts/ResultsLayout/styles.css
Due: none

chore(*): remove clean from build tasks chain in ui-components
  packages/ui-components/package.json
Due: none

chore(*): update ui-components pkg ver in mjs
  packages/analytics/package-lock.json
  packages/mjs/package-lock.json
  packages/mjs/package.json
Due: none

fix(mjs): lowercase colors in facet and breadcrumbs
  packages/ui-components/src/internals/ColorBodyFacet/index.tsx
  packages/ui-components/src/widgets/BreadCrumbs/index.tsx
Due: prettier --write

chore(mjs): expose analytics instance to window
  packages/mjs/loader/index.js
Due: prettier --write

fix(analytics): do not track events without data-attributes
  packages/analytics/src/index.ts
Due: prettier --write

chore(release): releasing component
  packages/analytics/package.json
Due: none

docs(*): update changelogs [skip ci]
  packages/analytics/CHANGELOG.md
  packages/helpers/CHANGELOG.md
  packages/mjs/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/ui-components/CHANGELOG.md
Due: none

fix(mjs): fix lazyload states compare
  packages/mjs/src/features/search/provider/index.ts
Due: prettier --write
