Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test

feat(sdk): release sdk 2.0.0
  packages/sdk/README.md
Due: none

chore(ui-components): fix ui components build
  packages/ui-components/.babelrc
  packages/ui-components/package-lock.json
  packages/ui-components/package.json
  packages/ui-components/scripts/production.js
  packages/ui-components/src/internals/NumberInput/index.tsx
  packages/ui-components/tsconfig.base.json
  packages/ui-components/webpack.config.js
Due: prettier --write

fix(mjs): update mjs build
  packages/mjs/.babelrc
  packages/mjs/package-lock.json
  packages/mjs/package.json
  packages/mjs/scripts/library.js
  packages/mjs/scripts/production.js
  packages/mjs/src/polyfill.ts
  packages/mjs/webpack.config.js
  packages/ui-components/scripts/production.js
Due: prettier --write

chore(release): releasing component
  package-lock.json
  packages/agent/package.json
Due: none

chore(release): releasing component
  packages/analytics/package.json
Due: none

chore(release): releasing component
  packages/helpers/package.json
Due: none

chore(release): releasing component
  packages/mjs/package.json
Due: none

chore(release): releasing component
  packages/sdk/package.json
Due: none

chore(release): releasing component
  packages/ui-components/package.json
Due: none

chore(sdk): build sdk lib right after install
  packages/sdk/package.json
Due: none

chore(agent): fix agent dependecies
  packages/agent/src/types.ts
  packages/agent/tsconfig.base.json
Due: prettier --write

chore(agent): do not run tests for now
  packages/agent/package.json
  packages/agent/src/types.ts
  packages/agent/tsconfig.base.json
Due: prettier --write

chore(agent): fix Ci tests
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/tsconfig.base.json
Due: none

chore(*): prepare packages after bootstrap
  lerna.json
  package.json
  packages/sdk/package.json
Due: none

chore(agent): bump sdk version
  packages/agent/package.json
Due: none

chore(release): releasing component
  packages/agent/package.json
Due: none

chore(agent, sdk): deploy pkgs to s3
  .travis/after_success.sh
Due: none

fix(agent): release agent bundle to s3
  .travis/after_success.sh
  packages/agent/webpack.config.ts
Due: prettier --write

fix(agent, sdk): reduce size of libs and support ie9+
  packages/agent/package.json
  packages/agent/src/core/Agent.ts
  packages/agent/src/utils/format.ts
  packages/agent/webpack.config.ts
  packages/sdk/.babelrc
  packages/sdk/package-lock.json
  packages/sdk/src/api.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  packages/sdk/src/validation/common.ts
  packages/sdk/src/validation/index.ts
Due: prettier --write

feat(agent): migrate to immutable
  packages/agent/examples/autocomplete.ts
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/core/Agent.ts
  packages/agent/src/core/Cache.ts
  packages/agent/src/types.ts
  packages/agent/src/utils/changes.ts
  packages/agent/src/utils/filters.ts
  packages/agent/src/utils/format.ts
  packages/agent/src/utils/helpers.ts
  packages/agent/src/utils/merge.ts
Due: prettier --write

feat(agent, sdk): fix SDK jsonp method and Use immutable structures
  packages/agent/examples/autocomplete.ts
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/core/Agent.ts
  packages/agent/src/types.ts
  packages/agent/src/utils/format.ts
  packages/agent/webpack.config.ts
  packages/sdk/package-lock.json
  packages/sdk/src/api.ts
Due: prettier --write

fix(agent): fix filters normalization
  packages/agent/examples/autocomplete.ts
  packages/agent/src/core/Agent.ts
  packages/agent/src/utils/format.ts
Due: prettier --write

fix(agent): fix tests for immutable structures
  packages/agent/examples/autocomplete.ts
  packages/agent/package.json
  packages/agent/src/core/__tests__/Agent.test.ts
  packages/agent/src/core/__tests__/Cache.test.ts
  packages/agent/src/utils/__tests__/utils.test.ts
  packages/agent/src/utils/filters.ts
  packages/agent/src/utils/format.ts
Due: prettier --write, npm run test

fix(agent): remove debug alias
  packages/agent/package-lock.json
  packages/agent/webpack.config.ts
Due: prettier --write

fix(agent): unset field if value is empty
  packages/agent/examples/autocomplete.ts
  packages/agent/src/core/Agent.ts
  packages/agent/src/utils/changes.ts
Due: prettier --write

WIP(analytics): remove DOM-related code from analytics package and add different request methods
  packages/agent/package.json
  packages/analytics-dom/eventsHelpers.ts
  packages/analytics-dom/filtersHelpers.ts
  packages/analytics-dom/index.ts
  packages/analytics/.vscode/launch.json
  packages/analytics/__tests__/index.spec.ts
  packages/analytics/__tests__/jsdom-helper.ts
  packages/analytics/__tests__/modules/requestApi.spec.ts
  packages/analytics/__tests__/modules/storage.spec.ts
  packages/analytics/__tests__/validations.spec.ts
  packages/analytics/example/index.ts
  packages/analytics/index.d.ts
  packages/analytics/jest.config.js
  packages/analytics/modules.d.ts
  packages/analytics/package-lock.json
  packages/analytics/package.json
  packages/analytics/src/env/index.js
  packages/analytics/src/env/production.js
  packages/analytics/src/env/staging.js
  packages/analytics/src/index.ts
  packages/analytics/src/modules/request.ts
  packages/analytics/src/modules/storage.ts
  packages/analytics/src/settings.ts
  packages/analytics/src/types.ts
  packages/analytics/src/utils/helpers.ts
  packages/analytics/src/validations.ts
  packages/analytics/tsconfig.base.json
  packages/analytics/tsconfig.lib.json
  packages/analytics/tsconfig.test.json
  packages/analytics/tslint.json
  packages/analytics/webpack.config.js
  packages/analytics/webpack.config.ts
  packages/sdk/package.json
  tslint.json
Due: prettier --write

WIP(analytics, analytics-dom): separate @findify/analytics to two libraries
  .travis/after_success.sh
  packages/analytics-dom/index.ts
  packages/analytics-dom/jest.config.js
  packages/analytics-dom/package-lock.json
  packages/analytics-dom/package.json
  packages/analytics-dom/src/bindings/__tests__/dom.test.ts
  packages/analytics-dom/src/bindings/__tests__/events.test.ts
  packages/analytics-dom/src/bindings/__tests__/filters.test.ts
  packages/analytics-dom/src/bindings/dom.ts
  packages/analytics-dom/src/bindings/events.ts
  packages/analytics-dom/src/bindings/filters.ts
  packages/analytics-dom/src/index.ts
  packages/analytics-dom/tsconfig.base.json
  packages/analytics-dom/tsconfig.json
  packages/analytics-dom/tsconfig.lib.json
  packages/analytics-dom/tsconfig.test.json
  packages/analytics-dom/webpack.config.ts
  packages/analytics/src/index.ts
  packages/analytics/src/modules/request.ts
  packages/analytics/src/types.ts
Due: prettier --write, npm run test

feat(analytics, analytics-dom): separate DOM logic from @findify/analytics to @findify/analytics-dom
  packages/analytics-dom/package.json
  packages/analytics-dom/src/index.ts
  packages/analytics-dom/webpack.config.ts
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/src/modules/request.ts
  packages/analytics/webpack.config.ts
Due: prettier --write

fix(analytics-dom): fix s3 deploy bash
  .travis/after_success.sh
  packages/agent/CHANGELOG.md
  packages/analytics-dom/CHANGELOG.md
Due: none

chore(release): releasing component
  packages/analytics-dom/package.json
Due: none

fix(analytics-dom): add analytics-dom to deployable packages on s3
  .travis/after_success.sh
Due: none

feat(analytics): send analitics via beacon
  packages/analytics/src/modules/request.ts
Due: prettier --write

WIP(*): update build and connectors
  package-lock.json
  package.json
  packages/agent/examples/test.md
  packages/helpers/package.json
  packages/mjs/package.json
  packages/react-connect/.gitignore
  packages/react-connect/.vscode/launch.json
  packages/react-connect/README.md
  packages/react-connect/examples/autocomplete.tsx
  packages/react-connect/examples/index.ts
  packages/react-connect/index.ts
  packages/react-connect/jest.config.js
  packages/react-connect/package-lock.json
  packages/react-connect/package.json
  packages/react-connect/src/components/Provider.ts
  packages/react-connect/src/connect/connectPropducts.ts
  packages/react-connect/src/connect/connectSuggestions.ts
  packages/react-connect/src/connect/createConnect.ts
  packages/react-connect/src/index.ts
  packages/react-connect/src/utils/getDisplayName.ts
  packages/react-connect/src/utils/mapValues.ts
  packages/react-connect/src/utils/shallowEqual.ts
  packages/react-connect/tsconfig.base.json
  packages/react-connect/tsconfig.json
  packages/react-connect/tsconfig.lib.json
  packages/react-connect/tsconfig.test.json
  packages/react-connect/tslint.json
  packages/react-connect/webpack.config.ts
  packages/sdk/package.json
  packages/ui-components/package.json
Due: prettier --write

WIP(react-connect): add connectItems and connectSuggestion
  packages/agent/examples/autocomplete.ts
  packages/agent/package-lock.json
  packages/agent/src/core/Agent.ts
  packages/agent/src/utils/__tests__/utils.test.ts
  packages/agent/src/utils/changes.ts
  packages/agent/src/utils/format.ts
  packages/agent/src/utils/merge.ts
  packages/agent/webpack.config.ts
  packages/react-connect/examples/autocomplete.tsx
  packages/react-connect/src/components/Provider.ts
  packages/react-connect/src/connect/connectItems.ts
  packages/react-connect/src/connect/connectPropducts.ts
  packages/react-connect/src/connect/connectSuggestions.ts
  packages/react-connect/src/connect/createConnect.ts
  packages/react-connect/src/index.ts
  packages/react-connect/src/utils/helpers.ts
  packages/react-connect/tsconfig.base.json
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/tsconfig.base.json
Due: prettier --write, npm run test

WIP(react-connect): mix methods in to data in connectors, add most of connectors
  packages/agent/examples/autocomplete.ts
  packages/agent/src/core/Agent.ts
  packages/agent/src/utils/changes.ts
  packages/react-connect/examples/autocomplete.tsx
  packages/react-connect/examples/index.ts
  packages/react-connect/examples/search.tsx
  packages/react-connect/package-lock.json
  packages/react-connect/package.json
  packages/react-connect/src/components/Provider.ts
  packages/react-connect/src/connect/connectBreadcrumbs.ts
  packages/react-connect/src/connect/connectFacets.ts
  packages/react-connect/src/connect/connectItems.ts
  packages/react-connect/src/connect/connectPagination.ts
  packages/react-connect/src/connect/connectQuery.ts
  packages/react-connect/src/connect/connectSuggestions.ts
  packages/react-connect/src/connect/createConnect.ts
  packages/react-connect/src/immutable/createRecord.ts
  packages/react-connect/src/immutable/facets.ts
  packages/react-connect/src/immutable/filters.ts
  packages/react-connect/src/immutable/item.ts
  packages/react-connect/src/index.ts
  packages/react-connect/src/provider/createProvider.ts
  packages/react-connect/src/provider/index.ts
  packages/react-connect/src/symbols.ts
  packages/react-connect/src/utils/helpers.ts
  packages/react-connect/src/utils/preventEvents.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  npm run test: any of: *.test.{js,jsx,ts,tsx}
