Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test

added step to update git user data
  .circleci/config.yml
Due: none

added backend context to build and test job
  .circleci/config.yml
Due: none

fix(@findify/bundle,@findify/store-configuration,@findify/react-components): replaced thousandSeparator with thousand in currency settings
  packages/bundle/src/config.ts
  packages/config/src/Config.ts
  packages/react-components/src/components/Cards/Product/__snapshots__/test.tsx.snap
  packages/react-components/src/components/Cards/Product/test.tsx
Due: prettier --write

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
Due: none

fix(@findify/react-connect): handle incorrect suggestion index in connector
  packages/react-connect/src/connect/connectSuggestions.ts
Due: prettier --write

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
Due: none

feat(@findify/agent,@findify/analytics,@findify/analytics-dom,@findify/store-configuration,@findify/react-components,@findify/sdk): major version bumb, export combined config types
  package.json
  packages/agent/README.md
  packages/analytics-dom/README.md
  packages/analytics/README.md
  packages/config/index.d.ts
  packages/config/package.json
  packages/react-components/index.d.ts
  packages/react-components/package.json
  packages/react-components/src/components/Cards/Product/Price/styles.css
  packages/react-components/src/components/autocomplete/SearchSuggestions/index.tsx
  packages/react-components/src/layouts/Autocomplete/withAutocompleteLogic.ts
  packages/sdk/README.md
  scripts/combineTypes.js
  yarn.lock
Due: prettier --write

fix(@findify/store-configuration): fix config compilation
  packages/config/package.json
Due: none

fix(@findify/store-configuration): update git publish config
  .gitignore
  packages/config/.gitignore
Due: none

chore(): do not push index.d.ts to git
  .gitignore
Due: none

chore(): remove changed components before publishing
  .circleci/config.yml
  .gitignore
Due: none

chore(): update publishing config
  .circleci/config.yml
Due: none

chore(): remove types from git
  .gitignore
Due: none

fix(): remove types from igrore
  .gitignore
Due: none

chore(@findify/store-configuration,@findify/react-components): remove compiled types from git
  packages/config/index.d.ts
  packages/react-components/index.d.ts
Due: prettier --write

fix(): remove d.ts from git
  .gitignore
Due: none

feat(@findify/agent,@findify/sdk): bump major version
  packages/agent/src/core/Agent.ts
  packages/sdk/src/index.ts
Due: prettier --write

chore(release): publish [ci skip]
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/processors/CHANGELOG.md
  packages/processors/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

feat(@findify/analytics,@findify/analytics-dom): bump version
  packages/analytics-dom/src/index.ts
  packages/analytics/src/index.ts
Due: prettier --write

chore(release): publish [ci skip]
  packages/analytics-dom/CHANGELOG.md
  packages/analytics-dom/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
Due: none

fix(@findify/analytics,@findify/bundle,@findify/store-configuration,@findify/react-components,@findify/react-connect): merge types for devtools, improve autocomplete
  packages/analytics/package.json
  packages/bundle/src/config.ts
  packages/config/package.json
  packages/config/src/BaseFeature.ts
  packages/config/src/Config.ts
  packages/config/src/Content.ts
  packages/config/src/Immutable.ts
  packages/config/src/ProductType.ts
  packages/config/src/index.ts
  packages/config/tsconfig.json
  packages/react-components/package.json
  packages/react-components/src/components/Cards/Product/styles.css
  packages/react-components/src/components/Facet/styles.css
  packages/react-components/src/components/autocomplete/ProductMatches/index.tsx
  packages/react-components/src/components/autocomplete/ProductMatches/styles.css
  packages/react-components/src/components/autocomplete/SearchSuggestions/index.tsx
  packages/react-components/src/components/autocomplete/SearchSuggestions/styles.css
  packages/react-components/src/components/autocomplete/SuggestionItem/index.tsx
  packages/react-components/src/components/autocomplete/SuggestionItem/styles.css
  packages/react-components/src/components/common/Grid/styles.css
  packages/react-components/src/components/search/LazyResults/index.tsx
  packages/react-components/src/components/search/StaticResults/index.tsx
  packages/react-components/src/helpers/chunks.ts
  packages/react-components/src/helpers/trackProductPosition.ts
  packages/react-components/src/helpers/useColumns.ts
  packages/react-components/src/layouts/Autocomplete/Dropdown/index.tsx
  packages/react-components/src/layouts/Autocomplete/Dropdown/styles.css
  packages/react-components/src/layouts/Autocomplete/FullscreenWithInput/index.tsx
  packages/react-components/src/layouts/Autocomplete/Sidebar/index.tsx
  packages/react-components/src/layouts/Autocomplete/Sidebar/styles.css
  packages/react-components/src/layouts/Autocomplete/types.ts
  packages/react-components/src/layouts/Recommendation/Slider/view.tsx
  packages/react-connect/package.json
  yarn.lock
Due: prettier --write

chore(release): publish [ci skip]
  packages/analytics-dom/CHANGELOG.md
  packages/analytics-dom/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
Due: none

fix(@findify/store-configuration): change enums exporting name
  packages/config/src/index.ts
Due: prettier --write

fix(@findify/react-connect): push merget types to npm
  packages/react-connect/package.json
Due: none

fix(@findify/bundle,@findify/store-configuration,@findify/react-components): minor style fixes
  packages/bundle/src/config.ts
  packages/bundle/src/features/search/index.ts
  packages/bundle/src/features/smart-collection/index.ts
  packages/config/src/Filter.ts
  packages/config/src/Search.ts
  packages/react-components/src/components/CheckboxFacet/styles.css
  packages/react-components/src/components/ColorFacet/content.tsx
  packages/react-components/src/components/ColorFacet/index.tsx
  packages/react-components/src/components/ColorFacet/styles.css
  packages/react-components/src/components/search/MobileFacets/Titles.tsx
  packages/react-components/src/components/search/MobileFacets/index.tsx
  packages/react-components/src/layouts/Autocomplete/Dropdown/styles.css
Due: prettier --write

fix(@findify/bundle,@findify/store-configuration,@findify/react-components): minor bugfix
  README.md
  packages/bundle/index.html
  packages/bundle/src/config.ts
  packages/bundle/src/core/events.ts
  packages/bundle/src/core/widgets.ts
  packages/bundle/src/features/autocomplete/handlers.ts
  packages/bundle/src/features/autocomplete/preload.ts
  packages/bundle/src/features/search/index.ts
  packages/bundle/src/features/search/preload.ts
  packages/bundle/src/features/smart-collection/index.ts
  packages/bundle/src/features/smart-collection/preload.ts
  packages/config/package.json
  packages/config/src/Translations.ts
  packages/config/src/enums.ts
  packages/react-components/src/components/common/Grid/Column.tsx
  packages/react-components/src/components/common/Grid/index.tsx
  packages/react-components/src/components/search/MobileActions/index.tsx
  packages/react-components/src/helpers/useMobile.ts
  packages/react-components/src/helpers/withErrorHandler.tsx
  packages/react-components/src/helpers/withEvents.ts
  packages/react-components/src/helpers/withLazy.tsx
  packages/react-components/src/helpers/withMinResultsToShow.tsx
  packages/react-components/src/helpers/withScrollOnItemsChange.ts
  packages/react-components/src/layouts/Recommendation/Slider/index.tsx
  packages/react-components/src/layouts/Recommendation/Slider/styles.css
  packages/react-components/src/layouts/Recommendation/Slider/styles.global.css
  packages/react-components/src/layouts/Search/index.tsx
Due: prettier --write

fix(@findify/bundle,@findify/react-components): minor style fixes
  packages/bundle/src/config.ts
  packages/react-components/src/components/Facet/index.tsx
  packages/react-components/src/components/Facet/styles.css
  packages/react-components/src/components/RangeFacet/styles.css
  packages/react-components/src/components/search/DesktopFacets/index.tsx
Due: prettier --write

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(@findify/store-configuration,@findify/react-components): minor style fixes
  packages/config/src/Autocomplete.ts
  packages/react-components/src/components/Breadcrumbs/createBreadcrumb.tsx
  packages/react-components/src/components/Facet/styles.css
  packages/react-components/src/components/autocomplete/ProductMatches/index.tsx
  packages/react-components/src/components/autocomplete/SearchSuggestions/index.tsx
  packages/react-components/src/components/search/DesktopFacets/index.tsx
  packages/react-components/src/helpers/chunks.ts
  packages/react-components/src/layouts/Autocomplete/Sidebar/index.tsx
  packages/react-components/src/layouts/Autocomplete/Sidebar/styles.css
  packages/react-components/src/layouts/Autocomplete/index.tsx
  packages/react-components/src/layouts/Autocomplete/types.ts
Due: prettier --write

fix(@findify/react-components): do not merge products from different requests in telemetry
  packages/react-components/src/helpers/trackProductPosition.ts
  packages/react-components/src/helpers/withTheme.test.tsx
Due: prettier --write, npm run test

fix(@findify/bundle,@findify/react-components): minor bugfix
  packages/bundle/src/core/location.ts
  packages/bundle/src/core/render.ts
  packages/bundle/src/core/widgets.ts
  packages/react-components/src/components/Breadcrumbs/createBreadcrumb.tsx
  packages/react-components/src/components/Dropdown/view.tsx
  packages/react-components/src/components/common/Grid/styles.css
  packages/react-components/src/components/search/LazyResults/index.tsx
  packages/react-components/src/components/search/MobileFacets/index.tsx
  packages/react-components/src/components/search/StaticResults/index.tsx
  packages/react-components/src/helpers/useLazy.ts
  packages/react-components/src/types/index.ts
Due: prettier --write

fix(@findify/bundle,@findify/react-components): filter styles fixes
  packages/bundle/src/config.ts
  packages/react-components/src/components/Facet/styles.css
Due: prettier --write

fix(@findify/bundle,@findify/store-configuration,@findify/react-components,@findify/react-connect): add image switch on hover; Use variants in product card
  packages/bundle/src/config.ts
  packages/config/src/ProductType.ts
  packages/react-components/src/components/Cards/Product/index.tsx
  packages/react-components/src/components/common/Image/index.tsx
  packages/react-components/src/components/common/Image/styles.css
  packages/react-connect/src/immutable/createRecord.ts
Due: prettier --write

fix(@findify/store-configuration,@findify/react-components,@findify/sdk): do not retry api call when 4xx has come, six styles
  packages/config/src/Config.ts
  packages/react-components/src/components/Cards/Product/Price/index.tsx
  packages/react-components/src/components/Dropdown/styles.css
  packages/react-components/src/components/Facet/Component.ts
  packages/react-components/src/components/Facet/styles.css
  packages/react-components/src/components/common/Grid/styles.css
  packages/sdk/src/api.ts
  packages/sdk/src/utils.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  npm run test: any of: *.test.{js,jsx,ts,tsx}
