Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(bundle): change config props for scroll
  packages/bundle/src/features/search/index.ts
  packages/bundle/src/features/smart-collection/index.ts
Due: prettier --write

fix(react-components): fix default property key in sorting
  packages/react-components/src/components/search/MobileActions/index.ts
Due: prettier --write

fix(analytics-dom): add action to analytics-dom filter
  packages/analytics-dom/src/bindings/__tests__/filters.test.ts
  packages/analytics-dom/src/bindings/filters.ts
Due: prettier --write, npm run test

chore(release): publish [ci skip]
  packages/analytics-dom/CHANGELOG.md
  packages/analytics-dom/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(bundle): throw Error for disabled sentry users, showFallback fix
  packages/bundle/src/index.ts
  packages/bundle/src/initialize.ts
Due: prettier --write

fix(react-components): fix missed color of pagination and reset margin of number input
  packages/react-components/src/components/Pagination/styles.css
  packages/react-components/src/components/RangeFacet/styles.css
Due: none

fix(react-components): fix missed styles variables
  packages/react-components/src/components/Cards/Content/styles.css
  packages/react-components/src/components/Dropdown/styles.css
  packages/react-components/src/components/Facet/styles.css
Due: none

chore(cli): fix widget detach issue in new MJS version
  packages/cli/package.json
  packages/cli/test/environment.js
  packages/cli/test/helpers.js
  packages/cli/test/index.js
  packages/cli/test/tests.js
Due: prettier --write

fix(bundle, react-components): disable global errors tracking in Sentry
  packages/bundle/src/features/autocomplete/handlers.ts
  packages/bundle/src/index.ts
  packages/react-components/src/components/common/Grid/index.tsx
Due: prettier --write

chore(cli): change version of axios
  packages/cli/package.json
Due: none

chore(release): publish [ci skip]
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: none

fix(bundle): add debounce to autocomplete
  packages/bundle/src/features/autocomplete/handlers.ts
Due: prettier --write

fix(react-components): add area-* and focus to modal to make it visible for screen readers
  packages/react-components/src/components/common/Drawer/view.tsx
Due: prettier --write

fix(bundle, analytics-dom): fix issue when widgets renders before analytics ready
  packages/analytics-dom/src/index.ts
  packages/bundle/index.html
  packages/bundle/src/initialize.ts
Due: prettier --write

fix(react-components): add color title to color ball
  packages/react-components/src/components/ColorFacet/content.tsx
Due: prettier --write

fix(bundle): observe dom to catch new widgets
  packages/bundle/src/helpers/observeDomNodes.ts
  packages/bundle/src/initialize.ts
Due: prettier --write

Update SDK example
  packages/sdk/README.md
Due: none

chore(release): publish [ci skip]
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/processors/CHANGELOG.md
  packages/processors/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

fix(react-components, sdk): change autocomplete tooltip view logic; Small fix in SDK JSONP
  package.json
  packages/react-components/src/components/autocomplete/Tip/index.tsx
  packages/react-components/src/components/autocomplete/Tip/view.tsx
  packages/sdk/package.json
  packages/sdk/src/jsonp.ts
  yarn.lock
Due: prettier --write

fix(react-components): fix inconsistent autocomplete position tracking logic
  packages/bundle/index.html
  packages/react-components/src/components/ColorFacet/styles.css
  packages/react-components/src/layouts/Autocomplete/Dropdown/trackPosition.ts
Due: prettier --write

fix(react-components, agent): fix type check of facets & autocomplete style fixes
  packages/agent/src/utils/changes.ts
  packages/agent/src/utils/filters.ts
  packages/react-components/src/components/autocomplete/SuggestionItem/styles.css
  packages/react-components/src/layouts/Autocomplete/Dropdown/styles.css
Due: prettier --write

chore(release): publish [ci skip]
  packages/agent/CHANGELOG.md
  packages/agent/package.json
  packages/bundle/CHANGELOG.md
  packages/bundle/package.json
  packages/processors/CHANGELOG.md
  packages/processors/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-connect/CHANGELOG.md
  packages/react-connect/package.json
Due: none

chore: provide env variables before build
  .travis/after_success.sh
  .travis/before_install.sh
Due: none

chore: upd.
  .travis/after_success.sh
Due: none

chore: syntax error
  .travis/after_success.sh
Due: none

feat(react-components): show "View all results" button even if there is no autocomplete query
  packages/bundle/src/config.ts
  packages/react-components/src/components/autocomplete/Tip/view.tsx
  packages/react-components/src/layouts/Autocomplete/Dropdown/view.tsx
Due: prettier --write

feat(bundle, react-components): improve autocomplete to follow A11Y
  packages/bundle/src/features/autocomplete/handlers.ts
  packages/react-components/src/components/autocomplete/SearchSuggestions/styles.css
  packages/react-components/src/components/autocomplete/SearchSuggestions/view.tsx
  packages/react-components/src/components/autocomplete/SuggestionItem/view.tsx
Due: prettier --write

feat(react-components): navigation and iteraction for blind people is improved
  packages/react-components/src/components/Banner/view.tsx
  packages/react-components/src/components/CheckboxFacet/Item.tsx
  packages/react-components/src/components/CheckboxFacet/view.tsx
  packages/react-components/src/components/Facet/view.tsx
  packages/react-components/src/components/Pagination/view.tsx
  packages/react-components/src/components/RangeFacet/Item.tsx
  packages/react-components/src/components/RangeFacet/view.tsx
  packages/react-components/src/components/common/Grid/Column.tsx
  packages/react-components/src/components/common/Sticky/view.tsx
  packages/react-components/src/components/search/DesktopFacets/Title.tsx
  packages/react-components/src/components/search/DesktopFacets/view.tsx
  packages/react-components/src/components/search/LazyResults/view.tsx
  packages/react-components/src/components/search/StaticResults/view.tsx
  packages/react-components/src/layouts/Search/view.tsx
Due: prettier --write

fix(bundle, react-components): add translations to a11y and hide autocomplete on tab focus
  packages/bundle/src/features/autocomplete/handlers.ts
  packages/react-components/src/components/CheckboxFacet/view.tsx
  packages/react-components/src/components/Pagination/view.tsx
  packages/react-components/src/components/autocomplete/SearchSuggestions/view.tsx
  packages/react-components/src/components/common/Grid/index.tsx
  packages/react-components/src/components/search/DesktopFacets/view.tsx
  packages/react-components/src/components/search/LazyResults/view.tsx
  packages/react-components/src/components/search/StaticResults/view.tsx
Due: prettier --write

fix(react-components): prevent chrome to keep position of scroll when new content is added
  packages/react-components/src/layouts/Search/styles.css
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  npm run test: any of: *.test.{js,jsx,ts,tsx}
