Repository findify/findify-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run test

chore(release): releasing component
  packages/mjs/package.json
Due: none

fix(ui-complonents): bump build
  packages/ui-components/src/widgets/Sorting/index.tsx
Due: prettier --write

chore(release): releasing component
  packages/ui-components/package.json
Due: none

fix(mjs): update ui version
  packages/mjs/package.json
Due: none

fix(mjs): update recompose to 0.26.x
  packages/mjs/package.json
  packages/mjs/src/decorators/connectProvider.ts
  packages/mjs/src/decorators/loadUIComponents.ts
  packages/mjs/src/decorators/postProcess.ts
  packages/mjs/src/decorators/watchClickOutside.tsx
  packages/mjs/src/decorators/withFakeLocation.ts
  packages/mjs/src/decorators/withFrame.tsx
  packages/mjs/src/decorators/withPortal.tsx
  packages/mjs/src/decorators/withStateOnChange.ts
  packages/mjs/src/decorators/withWrapper.tsx
  packages/mjs/src/helpers/createFeature.ts
  packages/ui-components/package.json
  packages/ui-components/src/helpers/mapTypeToFacet.ts
  packages/ui-components/src/helpers/watchFrameSize.ts
  packages/ui-components/src/helpers/withConfig.ts
  packages/ui-components/src/helpers/withHooks.ts
  packages/ui-components/src/internals/AutocompleteBody/index.tsx
  packages/ui-components/src/internals/AutocompleteMobileBody/index.tsx
  packages/ui-components/src/internals/CategoryBodyFacet/Tree.tsx
  packages/ui-components/src/internals/CheckboxBodyFacet/ListRenderer.tsx
  packages/ui-components/src/internals/ColorBodyFacet/index.tsx
  packages/ui-components/src/internals/DesktopFacetsList/index.tsx
  packages/ui-components/src/internals/MobileFacetsList/index.tsx
  packages/ui-components/src/internals/Stickers/index.tsx
  packages/ui-components/src/layouts/FacetsLayout/index.tsx
  packages/ui-components/src/lists/ProductsList/index.tsx
  packages/ui-components/src/widgets/BreadCrumbs/index.tsx
  packages/ui-components/src/widgets/Grid/Column.tsx
  packages/ui-components/src/widgets/ProductsCarousel/index.tsx
Due: prettier --write

fix(mjs): fix text blur because of css transform
  packages/mjs/src/features/autocomplete/mobileWrapper.tsx
  packages/mjs/src/features/autocomplete/stylesMapper.ts
Due: prettier --write

fix(ui-components): hide product image before its loaded
  packages/ui-components/src/internals/Image/styles.css
Due: none

fix(mjs, uicomponents, analytics): update dependencies
  package.json
  packages/analytics/package.json
  packages/analytics/webpack.config.js
  packages/mjs/package.json
  packages/mjs/scripts/production.js
  packages/sdk/webpack.config.ts
  packages/ui-components/scripts/production.js
Due: prettier --write

fix(mjs, ui-components, analytics): fix build process
  package.json
  packages/analytics/src/index.ts
  packages/analytics/webpack.config.js
  packages/helpers/webpack.config.js
  packages/mjs/scripts/production.js
  packages/sdk/README.md
  packages/ui-components/scripts/production.js
Due: prettier --write

fix(mjs): fix uglify plugin
  packages/mjs/scripts/production.js
Due: prettier --write

fix(mjs): replace transition with top/left styles for disable blurring
  packages/mjs/src/decorators/withFrame.tsx
  packages/mjs/src/features/autocomplete/stylesMapper.ts
Due: prettier --write

fix(mjs, ui-components): hide image before its not loaded and add Cursor pointer to banner
  packages/ui-components/src/internals/Image/index.tsx
  packages/ui-components/src/internals/Image/styles.css
Due: prettier --write

feat(mjs): bump
  packages/mjs/src/features/autocomplete/stylesMapper.ts
Due: prettier --write

feat(ui-components): update dependencies
  packages/ui-components/package-lock.json
  packages/ui-components/package.json
Due: none

WIP(agent): prepare MVP
  .vscode/launch.json
  package-lock.json
  package.json
  packages/agent/.DS_Store
  packages/agent/.vscode/launch.json
  packages/agent/index.ts
  packages/agent/mock.ts
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/constants.ts
  packages/agent/src/core/Cache.ts
  packages/agent/src/index.ts
  packages/agent/src/utils/filters.js
  packages/agent/src/utils/filters.ts
  packages/agent/tsconfig.base.json
  packages/agent/tsconfig.json
  packages/agent/tslint.json
  packages/analytics/package-lock.json
  packages/helpers/package-lock.json
  packages/mjs/package-lock.json
  packages/sdk/tsconfig.lib.json
  tsconfig.lib.json
Due: prettier --write

[WIP] Agent
  package-lock.json
  packages/agent/.vscode/launch.json
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/constants.ts
  packages/agent/src/core/Agent.ts
  packages/agent/src/core/Cache.ts
  packages/agent/src/core/Search.ts
  packages/agent/src/index.ts
  packages/agent/src/types.ts
  packages/agent/src/utils/changes.ts
  packages/agent/src/utils/filters.js
  packages/agent/src/utils/filters.ts
  packages/agent/src/utils/format.ts
  packages/agent/src/utils/merge.ts
  packages/agent/tsconfig.base.json
  packages/helpers/package.json
  packages/sdk/package.json
  packages/ui-components/package.json
Due: prettier --write

WIP(agent): prepare tests and update doc
  packages/agent/.gitignore
  packages/agent/.vscode/launch.json
  packages/agent/examples/autocomplete.ts
  packages/agent/examples/index.ts
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/core/Cache.ts
  packages/agent/src/core/__[tests]__/Agent.ts
  packages/agent/src/core/__[tests]__/Cache.ts
  packages/agent/src/index.ts
  packages/agent/tsconfig.base.json
  packages/agent/tsconfig.json
  packages/agent/tsconfig.lib.json
  packages/agent/tsconfig.test.json
Due: prettier --write

feat(*): define Agent interface
  .travis/after_success.sh
  jest.config.js
  package-lock.json
  package.json
  packages/agent/.DS_Store
  packages/agent/README.md
  packages/agent/index.ts
  packages/agent/mock.ts
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/core/Cache.ts
  packages/agent/src/core/Search.ts
  packages/agent/src/utils/changes.ts
  packages/agent/src/utils/format.ts
  packages/agent/tsconfig.base.json
  packages/agent/tsconfig.lib.json
  packages/analytics/package-lock.json
  packages/analytics/package.json
  packages/helpers/package.json
  packages/mjs/package-lock.json
  packages/mjs/package.json
  packages/sdk/package.json
  packages/ui-components/package-lock.json
  packages/ui-components/package.json
Due: prettier --write

test(ui-components): update snapshots
  packages/agent/.DS_Store
  packages/ui-components/src/internals/Button/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui-components/src/internals/ExpandButton/__tests__/__snapshots__/index.ts.tsx.snap
  packages/ui-components/src/internals/Icon/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix(ui-components): hide product image
  packages/ui-components/src/widgets/Product/styles.css
Due: none

fix(mjs): bump version
  packages/mjs/src/helpers/appendFeature.tsx
Due: prettier --write

feat(mjs): bump
  packages/mjs/src/helpers/findClosestElement.ts
  packages/mjs/src/helpers/handleAnalytics.ts
Due: prettier --write

feat(sdk, agent): release agent and SDK 2.0
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/core/Agent.ts
  packages/agent/src/core/Cache.ts
  packages/agent/src/core/__tests__/Agent.test.ts
  packages/agent/src/core/__tests__/Cache.test.ts
  packages/agent/src/types.ts
  packages/agent/src/utils/__tests__/utils.test.ts
  packages/agent/src/utils/changes.ts
  packages/agent/src/utils/filters.ts
  packages/agent/src/utils/format.ts
  packages/agent/src/utils/merge.ts
  packages/agent/tsconfig.test.json
  packages/agent/webpack.config.ts
  packages/sdk/package.json
Due: prettier --write, npm run test

chore(sdk): build lib after bootstraping
  packages/helpers/package.json
  packages/sdk/package.json
  packages/ui-components/package.json
Due: none

chore(sdk): update types
  packages/helpers/package.json
  packages/sdk/src/request/SmartCollection.ts
  packages/ui-components/package.json
Due: prettier --write

chore(sdk): show typescript version
  packages/sdk/package.json
Due: none

chore(sdk): fix types for jenkins build
  packages/sdk/src/request/Autocomplete.ts
  packages/sdk/src/request/Feedback.ts
  packages/sdk/src/request/Recommendations.ts
  packages/sdk/src/request/Search.ts
  packages/sdk/src/request/SmartCollection.ts
  packages/sdk/src/request/index.ts
Due: prettier --write

test(sdk): skip tests on CI
  packages/sdk/package.json
Due: none

chore(ui-components): fix babel dependencies
  packages/ui-components/.babelrc
Due: none

test(sdk): run tests on CI
  packages/sdk/package.json
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx}
  npm run test: any of: *.test.{js,jsx,ts,tsx}
